.ax_default {
  font-family: "Arial Normal", "Arial";
  font-weight: 400;
  font-style: normal;
  font-size: 26px;
  color: #333333;
  text-align: center;
  line-height: normal;
}
.container {
  position: absolute;
  width: 750px;
  height: 100%;
  top: 0;
  left: 0;
  overflow-y: auto;
  background-color: rgba(245, 245, 245, 1);
}
.pdbottom {
  padding-bottom: 150px;
}
.linka {
  font-size: 28px;
  color: #2faaff;
}
.course_tag {
  text-align: center;
  display: inline-block;
  background-color: #ffcd00;
  border-radius: 20px;
  font-size: 24px;
  width: 120px;
  height: 42px;
  line-height: 42px;
  color: #000000;
}
/*个人中心公共样式*/
.a-radio {
  display: none;
}
.b-radio {
  display: inline-block;
  border: 1px solid #ccc;
  width: 32px;
  height: 32px;
  border-radius: 50px;
  vertical-align: middle;
  margin-right: 10px;
  position: relative;
}
.b-radio:before {
  content: "";
  font-size: 0;
  width: 20px;
  height: 20px;
  background: rgb(143, 188, 238);
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -10px;
  margin-top: -10px;
  border-radius: 50px;
  display: none;
}
.a-radio:checked ~ .b-radio:before {
  display: block;
}
/*详情页公用样式*/
.item {
  margin-top: 110px;
}
.item_content {
  margin-left: 20px;
  padding-left: 30px;
  width: 750px;
  height: 86px;
  font-family: "FontAwesome Regular", "FontAwesome";
  font-weight: 410;
  font-style: normal;
  font-size: 28px;
  color: #000000;
  line-height: 86px;
  border: 1px solid rgba(242, 242, 242, 1);
  background: inherit;
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box;
  border-left: 0px;
}
.item_content::after {
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
}
.content_left {
  width: 180px;
  text-align: left;
  float: left;
}
.content_right {
  position: relative;
  margin-left: 190px;
}

.content_right_wrap {
  display: inline-block;
  width: 100%;
  position: relative;
  text-align: left;
}
.content_right_wrap .userPageInput {
  /* display: inline-block; */
  height: 50px;
  /* width: 200px; */
  line-height: 50px;
  /* border-radius: 3px; */
  outline: none;
  font-size: 26px;
  /* border: 1px solid #dcdee2; */
  width: 100%;
}
.content_right_wrap label {
  margin-right: 30px;
}
.operation {
  margin-top: 40px;
}
.user_btn {
  display: inline-block;
  width: 154px;
  height: 58px;
  background: inherit;
  border: none;
  border-radius: 120px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: "微软雅黑";
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
  color: #ffffff;
  line-height: 58px;
}
.save {
  background-color: rgba(0, 121, 254, 1);
}

.cancel {
  margin-left: 40px;
  background-color: rgba(134, 134, 134, 1);
}
/*详情页公用样式结束*/
