// .mgtop {
//   margin-top: 80px;
// }
.home_container {
  width: 750px;
  //   overflow: hidden;
}
.top_container {
  box-sizing: border-box;
  height: 460px;
  background-color: rgba(245, 245, 245, 1);
}
